/*-----------------------------------------------------*/
/*	GLOBAL BUTTONS
/*-----------------------------------------------------*/
.btn{
	font-family: $oswald;
	font-weight: 300;
}//btn

.btn:not(*){
	font-size: 1rem;
}//btn
	


.btn.btn-secondary{
	border-color: $brand-2;
	color: $brand-2;

	&:hover, &:active, &:focus{
		background: $brand-2;
		color: #fff;

		> *{
			color: #fff;
		}//*
	}//hover

	&:not(.btn-outline){
		background: $brand-2;
		color: #fff;

		&:hover, &:active, &:focus{
			background: darken($brand-2, 10%);
		}
	}//:not(.btn-outline)

}//btn-secondary



.btn.btn-inverse{
	background: #fff;
	border-color: #fff;
	color: $brand-1;

	&:hover, &:active, &:focus{
		background: transparent;
		color: #fff;

		> *{
			color: #fff;
		}//*
	}//hover
}//btn-inverse




.btn-download{
	font-size: .9rem;
	line-height: 0;
	height: 54px;
	margin-left: 15px;

	small{
		line-height: 1.3;
	}
}//btn-download






